{% extends 'base.html.twig' %}
{% block body %}
    <main class="main">
        <section id="hero" class="hero section dark-background">
            <div id="hero-carousel" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">
                {% for item in Carousel %}
                    <div class="carousel-item {% if loop.first %}active{% endif %} ">
                        <img src="{{ vich_uploader_asset(item, 'imgFile') | imagine_filter('carousel') }}" alt="Université Technologique du Lualaba {{ item.id }}">
                        <div class="container">
                            <h2>{{ item.title }}</h2>
                            <p>{{ item.content | raw }}</p>
                            <a href="{{ item.link }}" class="btn-get-started">En savoir plus</a>
                        </div>
                    </div>
                {% else %}
                {% endfor %}
                <a class="carousel-control-prev" href="#hero-carousel" role="button" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
                </a>
                <a class="carousel-control-next" href="#hero-carousel" role="button" data-bs-slide="next">
                    <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
                </a>
                <ol class="carousel-indicators"></ol>
            </div>
        </section>
        <section id="call-to-action" class="call-to-action section light-background">
            <div class="container">
                <div data-aos="zoom-in" data-aos-delay="100" style="text-align: justify;">
                    <h1 class="h3">Université Technologique du Lualaba</h1>
                    <p>
                        L’UTL est un établissement d’enseignement supérieur et universitaire privé, implanté à Kolwezi, chef-lieu de la Province du Lualaba en République Démocratique du Congo depuis juillet 2022. Il a été initié après un état des lieux fait dans la province de Lualaba. Depuis le démembrement de la Province du Katanga, les grands établissements d’enseignement supérieur et universitaire sont restés à Lubumbashi dans la province du Haut-Katanga. Au regard de la vocation de la province du Lualaba qui est en majorité une province minière et agricole, il se ressent un besoin réel et urgent de création d’un établissement d’enseignement supérieur et universitaire à caractère technologique, industriel et professionnel. D’où la nécessité et l’urgence de la création de l’Université Technologique du Lualaba (UTL en sigle).
                    </p>
                </div>
            </div>
        </section>
        <section id="services" class="services section">
            <div class="container">
                <div class="row gy-4">
                </div>
            </div>
        </section>
    </main>
{% endblock %}

