{% extends 'base.html.twig' %}

{% block title %}{{ candidate.code }}{% endblock %}

{% block class_body %}contact-page{% endblock %}
{% block body %}
    {% include 'common/page_title.html.twig' with {title:'Inscription'} %}
    <main class="contact section">
        <div class="container" data-aos="fade">
            <div class="card">
                <h1 class="fw-bold text-center my-3">Fiche de préinscription</h1>
                <div class="card-header bg-danger text-white"></div>

                <div class="alert alert-success m-3">
                    <h4 class="alert-heading fw-bold">{{ candidate.name }} {{ candidate.fistName }} {{ candidate.lastName }}</h4>
                    {% if candidate.verified %}
                        <h4 class="alert-heading">Vérifiée</h4>
                        <p>
                            Votre inscription a été enregistrée avec succès !
                        </p>
                    {% else %}
                        <h4 class="alert-heading">Non vérifiée</h4>
                        <p>
                            Votre préinscription a été enregistrée avec succès. Téléchargez la fiche contenant le code pour
                            le paiement de frais de confirmation d'inscription. Merci !
                        </p>
                    {% endif %}
                    <h3>Code: {{ candidate.code }}</h3>
                    <hr>
                    <p class="mb-0">
                        <a href="{{ path('app_pdf_generator', {code:candidate.code}) }}">
                            <button type="button" class="btn btn-primary btn-md btn btn-primary">
                                <i class="bi bi-download"></i>
                                Télécharger la fiche
                            </button>
                        </a>
                    </p>
                </div>

            </div>
        </div>
    </main>
{% endblock %}

